/*  #90AFC5     LGT
    #336B87     MED
    #2A3132     DRK
    #763626     ALT     */

html,body {
    height:95%;
    font-family: 'Quicksand', sans-serif;
}

.container{
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

#todoContainer{
    width: 400px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #90AFC5;
    overflow: hidden;
    text-overflow: ellipsis;
}

#addTaskBar{
    display: flex;
}

#todoListAdd{
    width: 100%;
    height: 32px;
    background-color: whitesmoke;
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
    text-indent: 5px;
}

.liEditInPlace{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    width: 100%;
    height: 28px;
    background: lightgrey;
    border: 0px;
    outline: none;
    text-indent: 0px;
    overflow: hidden;
}

.listItem{
    position: relative;
    font-size: 24px;
    overflow: hidden;
    cursor: pointer;
}

.empty{
    cursor: default;
}

.liText{
    position:absolute;
    top:0;
    left:30px;
}

.li-bg-lgt{
    background-color: #90AFC5;
}

.li-bg-drk{
    background-color: #EAF3F5;
}

.listItemCont{
    position: static;
}

.liIndent{
    display: inline-block;
    width: 5px;
}

.btn-remove {
    position: absolute;
    top:0;
    left:0px;
    display: inline-block;
    width: 25px;
    height: 100%;
    font-size: 14px;
    color:white;
    background-color: red;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}

#titleBar{
    background-color: #2A3132;
    height: 32px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#title{
    justify-self: flex-start;
}

#todoListAddToggle{
    height: 30px;
    border: 0px;
    outline: none;
    background-color: #2A3132;
    color: white;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: darkslategrey;
}